{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Pippin' Love
{% endblock title %}

{% block content %}
<h1 style="color: red" align="center">你以为我没有给你准备惊喜吗？&#x2764</h1>
<div align="center" style="font-size: 36px; color:red">
</br></br>
<p>
    看看这是谁家的小宝贝</br></br></br>
</p>
<img src="/static/img/lover_gift.jpg" align="middle" height="50%" width="50%"></br></br>
    <p>放大一点</p>
<img src="/static/img/lover_gift.jpg" align="middle" height="100%" width="100%"></br></br>
    <p>再放大一点</p>
<img src="/static/img/lover_gift.jpg" align="middle" height="150%" width="150%"></br></br>
    <p>再再放大一点</p>
<img src="/static/img/lover_gift.jpg" align="middle" height="200%" width="200%"></br></br>
    <p>仔仔再放大一点</p>
<img src="/static/img/lover_gift.jpg" align="middle" height="300%" width="300%"></br></br>

<p>可右键保存查看原图哦</p>

</div>


{% endblock content %}


