{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {% if title %}
        Edit
    {% else %}
        Create
    {% endif %}
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row mt-2">
        <div class="col-12">

            <h4>写文章</h4>

            <form method="post" action=".">
            {% csrf_token %}

                <div class="form-group">
                    <label for="title">标题
                    {% if title_empty == True %}
                        <small style="color: red">标题不能为空！</small>
                    {% endif %}
                    </label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ title }}">

                </div>

                <div class="form-group">
                    <label for="body">正文</label>
                    <textarea type="text" class="form-control" id="body" name="body" rows="12">{{ body }}</textarea>
                </div>

                <div class="form-group">
                    <label for="category" style="display: inline">分类：</label>
                        <select class="form-control" id="category" name="category"  style="width: 20%; display: inline">
                            <option  value="None">请选择分类...</option>
                            {% for cat in categories %}
                                    <option value="{{ cat.title }}"
                                            {% if cat.title == category %}
                                                selected
                                            {% endif %}
                                    >{{ cat }}</option>

                            {% endfor %}
                        </select>&nbsp&nbsp
                        <a href="#"  style="display: inline"><span class="fa fa-plus-square"></span> 添加分类</a>
                </div>
                <div class="form-group">
                    <label for="tag" style="display: inline">标签：</label>
                    {% if tags %}
                    {% for tag in tags %}
                        <span style="color: grey; font-size: small; display:inline">
                           <span class="fa fa-tag"></span>  {{ tag }}
                            <a href="#"><span class="fa fa-close"></span></a>
                       </span>
                    {% endfor %}
                    {% endif %}
                    <a href="#"  style="display: inline"><span class="fa fa-plus-square"></span> 添加标签</a>
                </div>
                <button class="btn btn-primary" type="submit">完成</button>
            </form>

        </div>
    </div>
</div>


{#<script>#}
{##}
{#function add_category(){#}
{#    layer.prompt({#}
{#        formType: 2,#}
{#        title: '添加新分类'#}
{#        }, function(value, index){#}
{#        $.ajaxSetup({#}
{#            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },#}
{#        });#}
{#        $.ajax({#}
{#            url: "{% url 'note:add_something' note.id %}",#}
{#            type: 'post',#}
{#            data:{#}
{#                'flag': 'category',#}
{#                'title': value,#}
{#            },#}
{#        });#}
{#        async: true,#}
{#        layer.close(index);#}
{#        layer.alert('添加成功');#}
{#    });#}
{#}#}
{##}
{#function add_tag(){#}
{#    layer.prompt({#}
{#        formType: 2,#}
{#        title: '添加新标签'#}
{#        }, function(value, index){#}
{#        $.ajaxSetup({#}
{#            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },#}
{#        });#}
{#        $.ajax({#}
{#            url: "{% url 'note:add_something' note.id %}",#}
{#            type: 'post',#}
{#            data:{#}
{#                'flag': 'tag',#}
{#                'title': value,#}
{#            },#}
{#        });#}
{#        async: true,#}
{#        layer.close(index);#}
{#        layer.alert('添加成功');#}
{#    });#}
{#}#}
{##}
{#</script>#}

{% endblock content %}