{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {% if title %}
        Edit
    {% else %}
        Create
    {% endif %}
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row mt-2">
        <div class="col-12">

            <h4>写文章</h4>

            <form method="post" action=".">
            {% csrf_token %}

                <div class="form-group">
                    <label for="title">标题
                    {% if title_empty == True %}
                        <small style="color: red">标题不能为空！</small>
                    {% endif %}
                    </label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ title }}">

                </div>


                <div class="form-group">
                    <label for="body">正文</label>
                    <textarea type="text" class="form-control" id="body" name="body" rows="12">{{ body }}</textarea>
                </div>

                <div class="form-group">
                    <label for="category" style="display: inline">分类：</label>
                        <select class="form-control" id="category" name="category"  style="width: 20%; display: inline">
                            <option  value="None">请选择分类...</option>
                            {% for cat in categories %}
                                    <option value="{{ cat.title }}"
                                            {% if cat.title == category %}
                                                selected
                                            {% endif %}
                                    >{{ cat }}</option>

                            {% endfor %}
                        </select>&nbsp&nbsp
                        <a href="#" onclick="add_category()" style="display: inline"><span class="fa fa-plus-square"></span> 添加分类</a>
                </div>
                <div class="form-group">
                    <label for="tag" style="display: inline">标签：</label>
                    {% if tags %}
                    {% for tag in tags %}
                        <span style="color: grey; font-size: small; display:inline">
                           <span class="fa fa-tag"></span>  {{ tag }}
                            <a href="#" onclick="rm_tag({{ tag.id }})"><span class="fa fa-close"></span></a>
                       </span>
                    {% endfor %}
                    {% endif %}
                    <a href="#" onclick="add_tag()" style="display: inline"><span class="fa fa-plus-square"></span> 添加标签</a>
                </div>
                <button class="btn btn-primary" type="submit">完成</button>
            </form>

        </div>
    </div>
</div>


<script>

function add_category(){
    layer.prompt({
        formType: 2,
        title: '添加新分类'
        }, function(value, index){
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $.ajax({
            url: "{% url 'note:add_something' note.id %}",
            type: 'post',
            data:{
                'flag': 'category',
                'title': value,
            },
            async: true,
        });
        layer.close(index);
        window.parent.location.reload();
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);  // 关闭layer
        {#layer.alert('添加成功');#}
    });
}

function add_tag(){
    layer.prompt({
        formType: 2,
        title: '添加新标签'
        }, function(value, index){
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $.ajax({
            url: "{% url 'note:add_something' note.id %}",
            type: 'post',
            data:{
                'flag': 'tag',
                'title': value,
            },
            async: true,
        });
        layer.close(index);
        window.parent.location.reload();
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);  // 关闭layer
        {#layer.alert('添加成功');#}
    });
}

function rm_tag(tag_id) {
    layer.open({
        // 弹窗标题
        title: "确认删除",
        // 正文
        content: "确认删除这个Tag吗？",
        // 点击确定按钮后调用的回调函数
        btn: ['删除', '取消'],
        yes: function(index, layero) {
            // 指定应当前往的 url
        $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $.ajax({
            url: "{% url 'note:rm_something' note.id %}",
            type: 'post',
            data:{
                'tag_id': tag_id,
            },
        });
        async: true,
        layer.close(index)
        window.parent.location.reload();
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);  // 关闭layer
        {#layer.msg('删除成功');#}
        },
        function(){
            layer.close()
        }
    })
}
</script>

{% endblock content %}