{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Home
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row mt-2">
    {% for note in notes %}
        <div class="col-12">
            <h4>
                {% if note.category %}
                    <button type="button"
                        class="btn btn-sm mb-2
                            {% if note.category.title == 'Test' %}
                                btn-success
                            {% elif note.category.title == 'Java' %}
                                btn-danger
                            {% elif note.category.title == 'HTML' %}
                                btn-warning
                            {% endif %}
                        "
                    >
                        {{ note.category }}
                    </button>
                {% endif %}
                <b>
                    <a href="#"
                       style="color: black;"
                    >
                        {{ note.title }}
                    </a>
                </b>
                <span class="badge badge-primary">2</span>
            </h4>

            <div>
                <p style="color: gray;">
                    {{ note.body|slice:'100' }}...
                </p>
            </div>
            <p>
                <span style="color: blue;">
                    {{ note.created|date:'Y-m-d' }} 发布&nbsp;&nbsp;&nbsp;
                </span>
                <span style="color: darkred;">
                    {{ note.updated|date:'Y-m-d' }} 更新
                </span>
                {% if note.tag %}
                    {% for tag in note.tag.all %}
                        <button class="btn btn-sm btn-info">
                            <span class="fa fa-tag"></span> {{ tag }}
                        </button>
                    {% endfor %}
                {% endif %}
            </p>
            <hr>
        </div>
    {% endfor %}
</div>

    </div>
</div>
{% endblock content %}